<form id="linerapp_resp_stage_form">
	<p style="margin-top: 10px; font-size: 18px; font-weight:bold">Разрешена смена ответственного:</p>
	{% for index, user in users %}
		{% if user["is_admin"] == false %}
			<div class="widget_settings_block__input_field">
				<div class="widget_settings_block_users">
					<div class="widget_settings_block_users__title_field widget_settings_block__title_field">{{ user["name"] }}</div>
					<label class="linerapp_switch_label">
						<input id="{{ index }}" class="linerapp_switch_input" type="checkbox" name="responsible[{{ index }}]" {{ sfields['responsible'][index] ? 'checked value="1"' : '' }}>
						<i></i>
					</label>
				</div>
			</div>
		{% endif %}
	{% endfor %}
	<p style="margin-top: 10px; font-size: 18px; font-weight:bold">Смена этапа:</p>
	{% for index, pipeline in pipelines %}
		{% set k = null %}
		<div>
			<div class="widget_settings_block_users">
				<div class="linerapp_resp_stage_pipeline__title">{{ pipeline.option }}</div>

		        <div class="control--select" style="">
		            <ul class="custom-scroll control--select--list" style="">
			            {% for indexStatus, status in statuses[pipeline.id] %}
			            	{% set selectedOption = 0 %}
			            	{% if sfields is null %}
			            		{% if status["id"] == 142 %}
			            			{% set selectedOption = 1 %}
			            			{% set k = indexStatus %}
					            {% endif %}
					            <li data-value="{{ status['id'] }}" data-color="" class="control--select--list--item {{  selectedOption ? 'control--select--list--item-selected' : ''}}">
				                    <span class="control--select--list--item-inner" title="{{ status['option'] }}">{{ status["option"] }}</span>
				                </li>
			            	{% else %}
			            		{% if status["id"] == sfields['statuses'][pipeline.id] %}
			                    	{% set k = indexStatus %}
			                    	{% set selectedOption = 1 %}
			                    {% endif %}
					                <li data-value="{{ status['id'] }}" data-color="" class="control--select--list--item {{  selectedOption ? 'control--select--list--item-selected' : ''}}">
					                    <span class="control--select--list--item-inner" title="{{ status['option'] }}">{{ status["option"] }}</span>
					                </li>
			                {% endif %}
		                {% endfor %}
		            </ul>
		            <button class="control--select--button" tabindex="" type="button" data-value="{{ statuses[pipeline.id][k].id }}">
			            <span class="control--select--button-inner">{{ statuses[pipeline.id][k].option }}</span>
			        </button>
			        <input class="control--select--input" name="statuses[{{ pipeline.id }}]" value="{{ statuses[pipeline.id][k].id }}" data-prev-value="{{ statuses[pipeline.id][k].id }}" type="hidden">
		        </div>
			</div>
		</div>
	{% endfor %}

	<div class="widget_settings_block__input_field">
		<div class="widget_settings_block_users">
			<div class="linerapp_resp_stage_pipeline__title">Не разрешать переход на предыдущий этап</div>
			<label class="linerapp_switch_label">
				<input class="linerapp_switch_input" type="checkbox" name="reverse_order_status" {{ sfields['reverse_order_status'] ? 'checked value="1"' : '' }}>
				<i></i>
			</label>
		</div>
	</div>
</form>